@import "../../scss/utilities/mixins.scss";

@media (min-width: 200px) and (max-width: 991.98px) {
  .App {
    width: 95vw;
    margin: auto;
  }
  #root{
    @include w-h-100;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .App {
    display: flex;
    margin: 1.5rem 1.2rem;
  }
  #root{
    @include w-h-100;
  }
}

@media (min-width: 1200px) {
  .App {
    display: flex;
    padding: 1.5rem 1.2rem;
  }
}
