@mixin d-flex {
    display: flex;
}

@mixin d-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin d-flex-row {
    display: flex;
    flex-direction: row;
}

@mixin w-h-100 {
    width: 100%;
    height: 100%;
}

@mixin w-100{
    width: 100%;
}

@mixin w-80{
    width: 80%;
}

@mixin w-60{
    width: 60%;
}

@mixin w-25{
    width: 25%;
}

@mixin h-100{
    height: 100%;
}

@mixin d-grid-2{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

@mixin d-grid-3{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
@mixin d-grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@mixin hover-transform {
    transform: scale(1);
    transition-duration: 4s;
    transition-delay: 2s;
}

@mixin bg-main-color{
    background-color: $dark-blue;
}

@mixin bg-red{
    background-color: $red
}