@import "../../scss/base/reset.scss";

@media (min-width: 200px) and (max-width: 991.98px) {
    .main{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {
    
}