@import "../../scss/base/reset.scss";
@import "../../scss/base/typography.scss";
@import "../../scss/utilities/variables.scss";

@media (min-width: 200px) and (max-width: 991.98px) {
  .trending,
  .recomended {
    h2 {
      margin: 1rem 0 1.5rem 0;
      font-size: $medium-font;
      font-weight: $light;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .trending,
  .recomended {
    h2 {
      font-weight: $light;
      margin-bottom: 1rem;
      font-size: $large-font;
    }
  }
}
