@import "../../scss/base/reset.scss";
@import "../../scss/base/typography.scss";
@import "../../scss/utilities/variables.scss";

.trending,
.recomended{
    padding: 1rem;
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .trending, .recomended{
        h2{
            font-size: $large-font;
            font-weight: $light;
            margin-bottom: 1rem;
            font-size: .8rem;
        }
    }

   
}