@import "../../scss/base/reset.scss";
@import "../../scss/utilities/variables.scss";
@import "../../scss/utilities/mixins.scss";

@media (min-width: 200px) and (max-width: 575.98px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    row-gap: 0.5rem;
    padding: 0.5rem;
    position: relative;

    &-marked{
      position: absolute;
      background-color: transparent;
      top: 20px;
      right: 20px;
      border: none;
    }


    &-img {
      @include w-100;
      img {
        width: 100%;
        height: -webkit-fill-available;
        border-radius: 10px;
      }
    }

    &-info {
      @include w-100;
      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        p {
          text-transform: capitalize;
          font-size: 0.8rem;
          &:nth-child(3) {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            svg {
              width: 13px;
            }
          }
        }
      }
      h3 {
        font-size: 1.05rem;
        text-transform: capitalize;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    padding: 0.5rem;
    position: relative;
    
    &-marked{
      position: absolute;
      background-color: transparent;
      top: 20px;
      right: 20px;
      border: none;
    }

    &-img {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
        height: -webkit-fill-available;
      }
    }

    &-info {
      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        p {
          text-transform: capitalize;
          font-size: 0.8rem;
          &:nth-child(3) {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            svg {
              width: 13px;
            }
          }
        }
      }
      h3 {
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    padding: 0.5rem;
    position: relative;

    &-marked{
      position: absolute;
      background-color: transparent;
      top: 20px;
      right: 20px;
      border: none;
    }

    &-img {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
        height: -webkit-fill-available;
      }
    }

    &-info {
      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        p {
          text-transform: capitalize;
          font-size: 0.8rem;
          &:nth-child(3) {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            svg {
              width: 13px;
            }
          }
        }
      }
      h3 {
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .card {
    // width: 500px;
    position: relative;

    &-marked{
      position: absolute;
      background-color: transparent;
      top: 20px;
      right: 20px;
      border: none;
    }

    &-img{
      img{ 
        width: 100%;
        border-radius: 10px;
        height: 22vh;
      }
    }

    &-info {
      //position: absolute;
      bottom: 10%;
      left: 5%;

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      h3 {
        font-size: 1.3rem;
      }
      p {
        display: flex;
        gap: .5rem;        
      }
    }
  }
}
