@import "../../scss/base/reset.scss";
@import "../../scss/utilities/variables.scss";
@import "../../scss/utilities/mixins.scss";

@media (min-width: 200px) and (max-width: 575.98px) {
  .card{
    // width: 500px;
    // position: relative;
    padding: .5rem;
 
     &-img{
       img{ 
         width: 100%;
         border-radius: 10px;
       }
     }
 
     &-info{
      // position: absolute;
       bottom: 10%;
       left: 5%;
 
       div {
         display: flex;
         align-items: center;
         gap: .5rem;
        p{
          text-transform: capitalize;
          font-size: .8rem;
          &:nth-child(3){
            display: flex;
            gap: .4rem;
           svg{
             width: 13px;
           }
          }
        }
        
       }
       h3{
        font-size: 1.05rem;
        text-transform: capitalize;
       }
     }
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card{
    // width: 500px;
    // position: relative;
    padding: .5rem;
 
     &-img{
       img{ 
         width: 100%;
         border-radius: 10px;
       }
     }
 
     &-info{
       //position: absolute;
       bottom: 10%;
       left: 5%;
 
       div {
         display: flex;
         gap: .5rem;
       }
       h3{
         font-size: 1.3rem;
       }
     }
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {
  .card{
   // width: 500px;
    position: relative;


    &-img{
      img{ 
        width: 100%;
        border-radius: 10px;
      }
    }

    &-info{
      position: absolute;
      bottom: 10%;
      left: 5%;

      div {
        display: flex;
        gap: .5rem;
      }
      h3{
        font-size: 1.3rem;
      }
    }
  }
}