@import "../../scss/base/reset.scss";
@import "../../scss/utilities/variables.scss";
@import "../../scss/utilities/mixins.scss";

@media (min-width: 200px) and (max-width: 990px) {
  .nav {
    display: flex;
    background-color: $semi-dark-blue;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    &-first,
    &-second,
    &-third {
      button {
        background-color: transparent;
        padding: 0.5rem 1rem;
        border: unset;
      }
    }
    &-second {
     @include d-flex-row;
      align-items: center;
      gap: 0;
      padding: 0 1.2rem;
    }
  }
}

@media (min-width: 991px) and (max-width: 1199.98px) {
  .nav {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    background-color: $semi-dark-blue;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    &-first,
    &-second,
    &-third {
      button {
        background-color: transparent;
        border: unset;
      }
    }
    &-second {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 80px;
    background-color: $semi-dark-blue;
    border-radius: 10px;

    &-first {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      gap: 2.5rem;

      button {
        background-color: transparent;
        border: none;
      }
    }
    &-second {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      &--secondBox-btn{
        background-color: transparent;
        border: none;
      }
    }
    &-third {
      button {
        background-color: transparent;
        border: none;
      }
    }
  }
}
